// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$red: #fa4a4e;
$lightred: #f89b89;

body {
  color: $red;
  text-shadow: 1em $lightred;
}
